<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid" style="background-color:silver ;">
      <div class="text-center">
        <img src="./assets/images/music_logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Sonic Music Library</div>
      <div class="text-center">
        <h3>Sureshkumar J</h3>
      </div>

      <div class="text-center">sureshkumarbj@gmail.com</div>
      <div class="text-center">
        <a href="http://www.sureshkumarbj.in">www.sureshkumarbj.in</a>
      </div>
    </div>
  </div>
</div>